*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

}

body{
    overflow-x: hidden; 
    width: 100vw;
    background-image: linear-gradient(to bottom ,rgb(20, 21, 41), rgb(70, 73, 143));
    background-repeat: no-repeat;
}
header{
    width: 100vw;
    display: flex;
    padding: 0;
    margin: 0;
    flex-direction: column;
    justify-content:center;
    object-fit: cover;
}

.search{
    margin-top: 10px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    border: solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 40px;
    color: rgb(34, 27, 27);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
button{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border: 0;
    width: 35px;
    height: 40px;
    font-size: 17px;
    background-color: white;
}
.image img{
    margin-top: 5px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

 main{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
} 

 .container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    object-fit: contain;
} 


 .cards{
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    width:100%;
    height: auto;
} 

h1{
    display: flex;
    font-size: 50px;
    align-items: center;
    justify-content: center;
}

#cards p{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#cards img{
    width: 250px;
    height: 250px;
}

.card{
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-items: center;
    width: 33%;
}  